body{
	background-color: white;
}

h1{
	/*font*/
	font-family: 'Passion One'; 
	font-size: 50px; 
	color: blue;
	
	/*text - general*/
	text-align: center;
}

div.buttons{
	height: 500px;
	width: 50%;
	/*background-color: green;*/
	margin: auto;
	font-size: 25px;
	font-weight: bold;
	font-family: 'Playfair Display';
}

button.topics{
	border: 2px solid;
	border-color: black;
	border-radius: 2%;
	width: 100%;
	height: 45px;
	margin-bottom: 10px;
	font-size: 20px;
}

button.topics#t1{
	background-color: red;
	color: white;
}

button.topics#t1:hover{
	background-color: rgba(255, 0, 0, .5);
}

button.topics#t2{
	background-color: yellow;
}

button.topics#t2:hover{
	background-color: rgba(255, 255, 0, .5);
}

div#quiz{
	display: none;
	width: 100%;
}

span{
	display: inline-block;
	width: 100%;
	text-align: center;
}

p#question{
	font-size: 20px;
}

button.answers{
	display: inline-block;
	border: 2px solid;
	border-color: black;
	border-radius: 2%;
	width: 45%;
	height: 150px;
	margin: 2%;
	float: left;
	font-size: 20px;
}

button.answers#b1{
	background-color: red;
	color: white;
}

button.answers#b1:hover:enabled{
	background-color: rgba(255, 0, 0, .25);
	color: black;
}

button.answers#b2{
	background-color: green;
	color: white;
}

button.answers#b2:hover:enabled{
	background-color: rgba(0, 255, 0, .25);
	color: black;
}

button.answers#b3{
	background-color: rgba(255, 0, 235, 1);
	color: white;
}

button.answers#b3:hover:enabled{
	background-color: rgba(255, 0, 235, .5);
	color: black;
}

button.answers#b4{
	background-color: blue;
	color: white;
}

button.answers#b4:hover:enabled{
	background-color: rgba(0, 0, 255, .25);
	color: black;
}

button.nextt{
	background-color: green;
	color: white;
	width: 44%;
	height: 50px;
	margin-left: 28%;
	border: 2px solid;
	border-color: black;
	border-radius: 2%;
	font-size: 20px;
	display: none;
}

button.nextt:hover{
	background-color: rgba(0, 255, 0, .5);
	color: black;
}
